* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #F3E5D8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    justify-content: center;
    flex-direction: column;
  }

 
 table {
  table-layout: fixed;
  width: 37rem;
  border-collapse: collapse;
 }

 table td {
  text-indent: 2.3rem;
  border-bottom: 1px solid lightgray;
  padding: 0.8rem 0 1rem 0;
  color: #6b4423;
 }

 .measurements {
  color: #6b4423;
  font-weight: bold;
 }

  .main {
    margin-top: 60px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53rem;
    margin: 6.7rem;
    border-radius: 1.1rem;
    padding: 2.5rem;
  }

  .card {
    background-color:#fff;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
    box-shadow: 0 8px 16px(0,0,0,0.1);
    margin-top: 20px;
  }

  .card h2 {
    font-size: 37px;
    font-weight:bold;
    color: #000;
    margin-top: 12px;
    margin-bottom: 9px;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .card p {
    color: #6b4423;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    padding-top: 14px;
  }
  
  .time {
    background-color:#FFF7FC;
    margin: 15px;
    padding: auto;
    padding-bottom: 25px;
    padding-left: 25px;
    line-height: 1.6;
    border-radius: 20px;
    height: 11rem;

  }

  .time h4 {
    color: #7B405A;
    margin-bottom: 10px;
    padding-top: 18px;
    font-size: 1.2rem;
    border-radius: 10px;
  }

  .time ul {
    padding-left: 45px;
    margin: 0;
    color: #6b4423;
  }

.time li {
    font-size: 1rem;
    line-height: 2.0;
  }

  .bold {
    font-weight: 700;
    color: #6b4423;
  }

  .ingredients h3 {
    color: #79544C;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    line-height: 2.2;
  }

  .ingredients ul {
    list-style: disc;
    padding-left: 20px;
    color: #6b4423;
    margin-bottom: 25px;
  }

  .ingredients li {
    line-height: 2.0;
  }

  .instructions li {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.6;
  }

  .instructions h3 {
    color: #6b4423;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    line-height: 1.6;
  }

  .instructions ol {
    padding-left: 20px;
    color: #6b4423;
    margin-top: 20px;
    margin-bottom: 30px;
  }


.list {
    font-weight: 800;
    color: #6b4423; 
  }

  .nutrition h3 {
    font-size: 1.5rem;
    color: #6b4423;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
  }

 .nutrition p {
    font-size: 1rem;
    line-height: 1.6;
    color: #6b4423;
  }
  
  .nutrition table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
  }
  
  .nutrition table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .picture {
    text-align: center;
    margin-top: 10px; 
  }
  
  .recipe-img {
    width: 100%; 
    height: auto;
    border-radius: 15px; 
  }





  